

body {
  margin:  0;
  padding: 0;
  box-sizing: border-box;


}

img {
  width: 100%;

}

.imageWraper {
  max-width: 30rem;
  min-width: 10rem;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.content {
  max-width: 30rem;
  min-width: 10rem;

}

.about {
  display: flex;
  flex-wrap: wrap;
}